@page "/artworks/edit/{id:int}"
<!--AUTH-->
@attribute [Authorize]
@inject NavigationManager NavManager
@inject HttpClient httpClient

<h3>Edit Artwork</h3>

@if (_kunstwerk != null)
{
    <EditArtwork Model="@_kunstwerk" OnRedirect=@RedirectPage />
    <a class="btn btn-secondary" href="/artworks">
        <i class="fas fa-chevron-left"></i>
        <span>Cancel</span>
    </a>
}
else
{
    <!--<LoadingSpinner/>-->
}

@code {
    [Parameter] public int Id { get; set; }
    private Kunstwerk_DTO.Edit _kunstwerk;

    protected override async Task OnParametersSetAsync()
    {
        //try //AUTH
        //{
        Kunstwerk_DTO.Detail kunstwerkDetail = await httpClient.GetFromJsonAsync<Kunstwerk_DTO.Detail>($"api/Kunstwerk/{Id}");
        _kunstwerk = new Kunstwerk_DTO.Edit(kunstwerkDetail);
        //}
        //catch (AccessTokenNotAvailableException exception)
        //{
        //    exception.Redirect();
        //}

    }
    private void RedirectPage()
    {
        NavManager.NavigateTo($"artworks/{Id}");
    }
}
