@page "/auction/{id:int}"
@inject PublicClient httpClient
@inject Services.KunstwerkService kunstwerkService
<AuthorizeView>
    <button>Veiling aanmaken</button>
    <button>Veiling bewerken</button>
</AuthorizeView>

@code {
    [Parameter] public int Id { get; set; }
    private Kunstwerk_DTO.Detail _kunstwerk;
    private Veiling_DTO _veiling;

    protected override async Task OnParametersSetAsync()
    {
        var response = await kunstwerkService.GetDetailAsync(Id);
        _kunstwerk = response.Kunstwerk;
        if(_kunstwerk.IsVeilbaar)
        {
            _veiling = await httpClient.Client.GetFromJsonAsync<Veiling_DTO>($"api/GetByKunstwerkId/{_kunstwerk.Id}");
        }
    }
}