@page "/account"
<!--AUTH-->
@attribute [Authorize]
@inject HttpClient httpClient
<div class="container-fluid m-0 vh-100">
    <div class="row vh-100">
        <div class="col-3 p-0">
            <nav id="sidebar">
                <div class="row justify-content-center">
                    <div class="col-6 p-4">
                        <div class="rounded-circle image">
                            <img src="/images/A1.png" alt="" />
                        </div>
                    </div>
                </div>
                <ul class="list-unstyled mb-5">

                    <li>
                        <a href="#">profile</a>
                    </li>
                    <li>
                        <a href="#">subscription</a>
                    </li>
                    <!--authorize kunstenaar-->
                    <li>
                        <a href="#">artworks</a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="col-9 p-3">

            <!--=> Bewerken moet nog !!!-->

            <!-- Page Content  -->
            <!--eerst de algemene attributen als geb tonen en dan bv voor bestellingen of kunstwerken te tonen, de klant of kunstenaar obj gebruiken !!!-->
            <!--algemene dingen tonen met bestellingen en als kunstenaar(AuthorizeView) dan vanonder of een tab om als kunstenaar uw kunstwerken te zien en te editen-->

            <p> Username: @geb.Gebruikersnaam</p>
            <p> Day of birth: @geb.GeboorteDatum</p>
            <p> Email: @geb.Email</p>

            <!--hier de extra als kunstenaar dan zijn kunstwerken tonen-->
           
                @if(geb is Kunstenaar_DTO) { 
                <div class="container testimonial-group " style="padding-left:20px; padding-top:20px">
                    <div class="row">
                        @if (kunst.Kunstwerken.Count != 0)
                        {

                            @foreach (Kunstwerk_DTO.Index k in kunst.Kunstwerken)
                            {
                                <a href="artworks/@k.Id" style="text-decoration:none">
                                    <div class="col-4">
                                        <img src="/images/@k.HoofdFoto.Pad" width="250" />

                                        <p style=" width:100%; height: auto">@k.Naam</p>
                                        <p style=" width:100%; height:auto">€@k.Prijs</p>
                                    </div>
                                </a>
                            }
                        }
                        else
                        {
                            <p>No artworks found</p>
                        }

                    </div>
                </div>
                    }


        </div>



    </div>

</div>


@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private Gebruiker_DTO geb = new Gebruiker_DTO();
    private Klant_DTO klant = new Klant_DTO();
    private Kunstenaar_DTO kunst = new Kunstenaar_DTO();

    protected override async Task OnParametersSetAsync()
    {
        //de user ophalen uit auth en kijken welke soort user het is 
        //|| of => user als geb ophalen en dan kijken welke type het is(kunst of klant) en dan de user met authorizeview roles = "Kunstenaar"
        //voor algemene attributen de geb gebruiken

        var user = (await authenticationStateTask).User;
        Console.WriteLine(user.Identity.Name);
        Console.WriteLine(user.IsInRole("Kunstenaar"));
        //Console.WriteLine(user.Claims.FirstOrDefault().Value == "Kunstenaar");
        if (user.IsInRole("Kunstenaar"))
        {
            kunst = await httpClient.GetFromJsonAsync<Kunstenaar_DTO>($"api/Kunstenaar/byEmail/{user.Identity.Name}");
            geb = kunst;
            Console.WriteLine("Kunst");
        }
        else
        {
            klant = await httpClient.GetFromJsonAsync<Klant_DTO>($"api/Klant/byEmail/{user.Identity.Name}");
            geb = klant;
            //Console.WriteLine(klant.Email);
            Console.WriteLine("Klant");
        }
    }
}


