@page "/artworks"
@inject IKunstwerkService KunstwerkService
<body>



        <div class="flex-container">



            <p class="black-style" style="padding-left:25em;justify-content:left;">Artworks</p>



            <div class="box justify-content-lg-center">



                <div class="box">
                    <div class="filter-container">
                        <ul>
                            <li>
                                <input type="checkbox" checked>
                                <i></i>
                                <h2>Artists</h2>
                                <p>Here comes a checkbox</p>
                            </li>



                            <li>
                                <input type="checkbox" checked>
                                <i></i>
                                <h2>Medium</h2>
                                <p>Here comes a checkbox</p>
                            </li>
                            <li>
                                <input type="checkbox" checked>
                                <i></i>
                                <h2>Ways to buy</h2>
                                <p>Here comes a checkbox</p>
                            </li>
                            <li>
                                <input type="checkbox" checked>
                                <i></i>
                                <h2>Price</h2>
                                <p>Here comes a checkbox</p>
                            </li>
                            <li>
                                <input type="checkbox" checked>
                                <i></i>
                                <h2>Size</h2>
                                <p>Here comes a checkbox</p>
                            </li>
                        </ul>
                    </div>

                    <div class="column">

                        @if (kunstwerken != null)
                        {
                            @foreach (var kunst in kunstwerken)
                            {

                                <div class="column">
                                    <div>
                                        <img src="/images/@kunst.Fotos.First().Pad" alt="" />
                                        <div class="artwork-text">
                                            <p>@kunst.NaamKunstenaar</p>
                                            <p>@kunst.Naam</p>
                                            <p>@kunst.Prijs</p>
                                            <p>@kunst.Beschrijving</p>
                                        </div>
                                    </div>
                                </div>



                            }

                        }
                        else
                        {
                            <p>Loading ...</p>
                        }
                    </div>

                </div>
            </div>
            <select id="materiaal" name="materiaal"
            class="form-control" onchange="FilterOpMateriaal">
            foreach(var mat in materialen )
            {
            <option value="mat">mat</option>
            }
            </select>
        </div>
    </body>

@code {  

    private List<Kunstwerk_DTO> kunstwerken;
    protected override async Task OnInitializedAsync()
    {
        kunstwerken = await KunstwerkService.GetKunstwerken();
    }

}

