@page "/artworks"
<body>
    <div class="flex-container">
        <p class="black-style">Artworks</p>
        <div class="box justify-content-lg-center">
            <div class="column">

                <img src="/images/artist1.PNG" alt="" />
                <div class="artwork-text">
                <p class="artistname">Inara Nguyen</p>
                <p class="artwork">Dual Nature, 2020</p>
                </div>
                <img src="/images/artist2.PNG" alt="" />
                <div class="artwork-text">
                <p class="artistname">Issac Elis</p>
                <p class="artwork">Nature, 2020</p>
                <p class="price">€200</p>
                </div>

                <img src="/images/artist3.PNG" alt="" />
                <div class="artwork-text">
                <p class="artistname">Cassia Herrall</p>
                <p class="artwork">New Nature, 1997</p>
                </div>
            </div>
            <div class="column">
                <img src="/images/artist4.PNG" alt="" />
                <div class="artwork-text">
                <p class="artistname">Cassia Herrall</p>
                <p class="artwork">New Nature, 1997</p>
                </div>

                <img src="/images/artist1.PNG" alt="" />

                <div class="artwork-text">
                 <p class="artistname">Inara Nguyen</p>
                </div>

                <img src="/images/artist2.PNG" alt="" />

                <div class="artwork-text">
                <p class="artistname">Issac Elis</p>
                </div>

            </div>
        </div>
    </div>
</body>