@page "/artworks"
@inject HttpClient httpClient

<body>



    <div class="flex-container">



        <p class="black-style" style="padding-left:25em;justify-content:left;">Artworks</p>


        <div class="box">
            <div class="filter-container">
                <div class="col-lg-12 mb-4">
                    <input type="search" placeholder="search on name..." value="@searchterm" @oninput="SearchArt" />
                </div>
                <ul>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h2>Artists</h2>


                    </li>



                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h2>Medium</h2>
                        <div class="checkbox">

                            <div class="form-check">
                                <!-- Has to be triggered by JQuery-->
                                <input class="form-check-input" type="checkbox" value="metaal" name="material-checkbox" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Metaal
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="hout" name="material-checkbox" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Hout
                                </label>
                            </div>

                        </div>
                    </li>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h2>Ways to buy</h2>
                        <div class="checkbox">

                            <div class="form-check">
                                <!-- Has to be triggered by JQuery-->
                                <input class="form-check-input" type="checkbox" value="bid" name="pay-checkbox" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Bid
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="buy" name="pay-checkbox" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Buy now
                                </label>
                            </div>

                        </div>
                    </li>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h2>Price</h2>
                        <div class="checkbox">

                            <div class="form-check">
                                <!-- Has to be triggered by JQuery-->
                                <input class="form-check-input" type="checkbox" value="200.00" name="price-checkbox" id="200.00">
                                <label class="form-check-label" for="flexCheckDefault">
                                    200.00
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="300.00" name="price-checkbox" id="300.00">
                                <label class="form-check-label" for="flexCheckDefault">
                                    300.00
                                </label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <input type="checkbox" checked>
                        <i></i>
                        <h2>Size</h2>
                        <div class="checkbox">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="size-checkbox" value="small" id="small">
                                <label class="form-check-label" for="small">
                                    Small (under 50cm)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="size-checkbox" value="medium" id="medium">
                                <label class="form-check-label" for="medium">
                                    Medium (50 - 100cm)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="size-checkbox" value="large" id="large">
                                <label class="form-check-label" for="large">
                                    Large (over 100cm)
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
           
            <div class="column">

                @if (kunstwerken != null)
                {
                    @foreach (var kunst in kunstwerken)
                    {
                        <div class="column">
                            <div class="artwork">
                                <!--hier naar details -->
                                <a href="artworks/@kunst.Id" style="text-decoration:none">
                                    <div>

                                        <img src="/images/@kunst.Fotos.First().Pad" alt="" />
                                        <div class="artwork-text">
                                            <p class="artistname">@kunst.Kunstenaar.Gebruikersnaam</p>
                                            <p class="artwork">@kunst.Naam</p>
                                            <p class="price">€@kunst.Prijs</p>

                                        </div>


                                    </div>

                                </a>
                            </div>
                        </div>



                    }
                }
            </div>

        </div>
           </div> 
    

</body>

@code {

    private string searchterm;
    private List<Kunstwerk_DTO.Index> kunstwerken;
    private List<Kunstwerk_DTO.Index> kunstCopy;
    protected override async Task OnInitializedAsync()
    {
        //kunstwerken = await httpClient.GetFromJsonAsync<List<Kunstwerk_DTO.Index>>($"api/Kunstwerk?term={searchterm}");
        kunstwerken = await httpClient.GetFromJsonAsync<List<Kunstwerk_DTO.Index>>("api/Kunstwerk");
        kunstCopy = kunstwerken;
    }

    //public void filterOpTerm(ChangeEventArgs args)
    //{
    //    searchterm = args.Value.ToString();
    //    //kunstwerken.Where(x => x.Naam.Contains(searchterm, StringComparison.OrdinalIgnoreCase));
    //    //StateHasChanged();
    //    //searchterm var is ook nie nodig, gwn zo, args is de changed/selected item
    //    //dit hieronder best in de service doen
    //    //products.Where(x => x.Name.Equals(searchterm)).ToList();
    //    //products.Where(x => x.Name.Contains(searchterm, StringComparison.OrdinalIgnoreCase)).ToList();

    //}

    private void SearchArt(ChangeEventArgs args)
    {
        searchterm = args.Value.ToString();
        kunstwerken = kunstCopy.Where(x => x.Naam.Contains(searchterm)).ToList();
    }

    }

