@page "/artworks"
@inject Project3H04.Client.Services.IKunstwerkService KunstwerkService
@inject IJSRuntime JSRuntime

<body>



    <div class="flex-container">



        <p class="black-style" style="padding-left:25em;justify-content:left;">Artworks</p>



        <div class="box justify-content-lg-center">



            <div class="box">
                <div class="filter-container">
                    <ul>
                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h2>Artists</h2>


                        </li>



                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h2>Medium</h2>
                            <p>
                            </p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h2>Ways to buy</h2>
                            <div class="checkbox">

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Bid
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Buy now
                                    </label>
                                </div>

                            </div>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h2>Price</h2>
                            <p>Here comes a checkbox</p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h2>Size</h2>
                            <div class="checkbox">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="size-checkbox" value="small" id="small">
                                    <label class="form-check-label" for="small">
                                        Small (under 50cm)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="size-checkbox" value="medium" id="medium">
                                    <label class="form-check-label" for="medium">
                                        Medium (50 - 100cm)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="size-checkbox" value="large" id="large">
                                    <label class="form-check-label" for="large">
                                        Large (over 100cm)
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="column">

                    @if (kunstwerken != null)
                    {
                        @foreach (var kunst in kunstwerken)
                        {

                            <div class="column">
                                <!-- data  catagory for jquery filtering-->
                                <div class="artwork" data-category="@kunst.NaamKunstenaar @kunst.Prijs Bid">
                                    <a href="artworks/@kunst.Id" style="text-decoration:none">
                                        <div>

                                            <img src="/images/@kunst.Fotos.First().Pad" alt="" />
                                            <div class="artwork-text">
                                                <p class="artistname">@kunst.NaamKunstenaar</p>
                                                <p class="artwork">@kunst.Naam</p>
                                                <p class="price">€@kunst.Prijs</p>

                                            </div>

                                        </div>
                                    </a>
                                </div>
                            </div>



                        }

                    }
                    else
                    {
                        <p>Loading ...</p>
                    }
                </div>

            </div>
        </div>

    </div>

</body>

@code {


    private List<Kunstwerk_DTO.Index> kunstwerken;
    protected override async Task OnInitializedAsync()
    {
        kunstwerken = await KunstwerkService.GetKunstwerken();
    }



}

