@page "/"

<header class="masthead">
    <div class="container">
        <div class="masthead-heading">showcase, connect and inspire!</div>
        <div class="masthead-subheading">join us and show your work to the world</div>
        <div style="text-align: left;"><a class="btn btn-light btn-xl" href="/register" style="border-radius: 25px; padding-left: 40px;padding-right: 40px; ">sign up</a></div>
    </div>
</header>
<body>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <p class="black-style">recently joined artists</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-6">
                <div>
                    <img src="/images/artist1.PNG" alt="" style="width: 100%; height:auto" >
                    <p class="artistname">Inara Nguyen</p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div>
                    <img src="images/artist2.PNG" alt="" style="width: 100%; height:auto" >
                    <p class="artistname">Issac Ellis</p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div>
                    <img src="images/artist3.PNG" alt="" style="width: 100%; height:auto" >
                    <p class="artistname">Cassia Harrell</p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div>
                    <img src="images/artist4.PNG" alt="" style="width: 100%; height:auto" >
                    <p class="artistname">John Harrell</p>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-light btn-xl" href="" style="border-radius: 25px; padding-left: 30px;padding-right: 30px; border-color: brown;">browse all artists</a>
        </div>
    </div>
    <footer>
        <br>
        <br>
        <br>
    </footer>
</body>