@page "/"

<header class="masthead">
    <div class="container">
        <div class="masthead-heading">showcase, connect and inspire!</div>
        <div class="masthead-subheading">join us and show your work to the world</div>
        <div style="text-align: left;"><a class="btn btn-light btn-xl" href="" style="border-radius: 25px; padding-left: 40px;padding-right: 40px; ">sign up</a></div>
    </div>
</header>
<body>
    <br />
    <h5 style="padding-left: 2em;">recently joined artists</h5>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div>
                    <img src="/images/artist1.PNG" alt="" width="250px;" height="250px;">
                    <p class="artistname">Inara Nguyen</p>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <img src="images/artist2.PNG" alt="" width="250px;" height="250px;">
                    <p class="artistname">Issac Ellis</p>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <img src="images/artist3.PNG" alt="" width="250px;" height="250px;">
                    <p class="artistname">Cassia Harrell</p>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <img src="images/artist4.PNG" alt="" width="250px;" height="250px;">
                    <p class="artistname">John Harrell</p>
                </div>
            </div>
        </div>
        </div>
        <a class="btn btn-light btn-xl" href="" style="border-radius: 25px; padding-left: 30px;padding-right: 30px; border-color: brown;">browse all artists</a>
        <footer>
            <br>
            <br>
            <br>
        </footer>
</body>