@page "/register"
@inject NavigationManager NavigationManager

<h1>Register</h1>

<button type="submit" @onclick="HandleValidSubmit">Register</button>
<NavLink href="login" class="btn btn-link">Cancel</NavLink>


@code {
    private string userName = "";
    private string password = "";

    private void HandleValidSubmit()
    {
        GoToHomePage().Wait();
    }


    async Task GoToHomePage()
    {
        NavigationManager.NavigateTo("/", true);
    }
}
